

.post {
    margin-left:100px;
    margin-right: 100px;
    margin-top: 5px;
    border: solid 2px black;
    border-radius: 10px;
    display: block;
    padding: 25px;

    width: 575px;
    min-height: 175px;
}


.userIcon {
    margin-right: 20px;
    height: 40px;
    border: solid 2px black;
    border-radius: 25px;
    object-fit: cover;
}

.userInfo {
    display: block;
}

.userInfo > * {
    display: inline-block;
}

.postContent {
    margin-top: 15px;
    display: inline-block;
    width: 575px;
    overflow: auto;
    overflow-wrap: break-word;

}

.createPostBox {
    margin-top: 15px;
    width: 515px;
    height: 100px;

    overflow: hidden;
    resize: none;
    
    font-size: large;
}
