/* style sheet for mainPage and possibliy others */

/*Centers a div element and its contents on a screen*/
.center {
	width: 50%;
	position: absolute;
	left: 50%;
	margin-left: -100px;
}

/*---------Making Login and create Account Page look nice-------------*/
.loginCreate > * {
	margin-top:20%;
}

.loginCreateLink > a:link {
	color: black;
	text-decoration: none;
	font-size: 90%;
}	

.loginCreateLink > a:visited {
	color: gray;
}

.loginCreateLink > a:hover {
    color: white;
    
    border: 2px solid black;
    border-radius: 5px;
    
    padding: 4px;
    background-color: rgba(0, 122, 0, 1);
}

.pageBtn {
    margin-left:100px;
    margin-right: 100px;
    margin-top: 5px;
    border: solid 2px black;
    border-radius: 10px;
    display: block;
    padding: 25px;
    width: 575px;
    min-height: 15px;
    text-align: center;

}


/*-------------------------For profile page---------------------------*/
/*General Formatting*/
.profile {
    margin-left:100px;
    margin-top: 50px;
    margin-right: 100px;
    
    border: solid 2px rgb(0, 0, 0);
    border-radius: 10px;

    display: inline-block;
    padding: 25px;

    width: 575px;
}

.profile > div {
    float: left;
}

/*pfp formatting*/
.profileIcon {
    border: solid 2px rgb(0, 0, 0);
    border-radius: 50px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    object-fit: cover;
    
    width: 100px;
    height: 100px;
}

/*description formatting*/
.description {
    float: left;

    display: block;
    margin-left: 10px;

    width: 430px;
    overflow: auto;
    overflow-wrap: break-word;

}

/*userName formatting*/
.userName {
    text-align: center;
    width: 130px;
}

/*Dislike counter formatting*/
.dislikes {
    display: block;
    float: right;
    margin-left: 80%;
    
    

}

/*-------------------------------------------------------------------*/
